[submodule "whitelist-transfer-hook"]
	path = whitelist-transfer-hook
	url = https://github.com/parthhcodess/whitelist-transfer-hook
[submodule "escrow_litesvm"]
	path = escrow_litesvm
	url = https://github.com/parthhcodess/escrow_litesvm
[submodule "gpt-oracle-tuktuk"]
	path = gpt-oracle-tuktuk
	url = https://github.com/parthhcodess/gpt-oracle-tuktuk
[submodule "scheduler"]
	path = scheduler
	url = https://github.com/Bijoy99roy/scheduler
[submodule "generic_storage"]
	path = generic_storage
	url = https://github.com/parthhcodess/generic_storage
[submodule "pinocchio-fundraiser"]
	path = pinocchio-fundraiser
	url = https://github.com/parthhcodess/pinocchio-fundraiser
